/*body {
    background: #000;
    filter: invert(1) hue-rotate(210deg);
}*/
body{
	margin: auto;
	padding: 20px;
	text-align: justify;
	max-width: 800px;
	border: solid 1px;
}

label:hover::after {
	content: "Click to show/hide details";
	font-weight: normal;
	
	position: relative;
	border: 1px #808080 solid ;
	border-radius: 6px;
	background-color: white;
  	color: #333;
	padding: 5px 3px;
	right: 1px;
	z-index: 1 ;
}
input[type="checkbox"]:checked ~.whole_content{
	display: block;
}
input[type="checkbox"]:checked, .whole_content {
	display: none;
}

@media print{
	@page {
		size: A4 portrait; 
		margin: 0.75 in;

		@top-center {
			content: "Alok Shrestha";
		}

		@bottom-right {
			content: "Page " counter(page);
		}
	}
	body {
		margin: 0;
		padding: 0;
		border: none;

	    background: #FFF;
	    filter: invert(0) hue-rotate(150deg);
	}

	.noprint, label:after, input[type='checkbox']{
		display: none;
	}

	a:after {
		content: ": " attr(value);
	}

	a{
		color:inherit;
	    text-decoration:none;
	    pointer-events:none;
	}

	h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

	h1:after {
		display: block;
		content: "This CV was printed from aloks.com.np/CV. Please check the same for updated CV.";
		margin-bottom: 10px;
		border: 1px solid #bbb;
		padding: 3px 5px;
		font-style: italic;

		font-weight: normal;
		font-size: 12px;
	}

	body {
		font-family: Cambria, serif;
		background: none;
		color: black;
	}

	ul {
		margin-left: 5px;
	    margin-right: 0px;
	    padding-left: 10px;
	    padding-right: 0px;
	}

}