/*body {
    background: #000;
    filter: invert(1) hue-rotate(210deg);
}*/

label:after {
	content: " < Click to show/hide details";
	font-weight: normal;
	color: gray;
}
.clicker_bx:checked ~.whole_content {
	display: none;
}
.clicker_bx {
	display: none;
}

ul {
	margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}



@media print{
	@page {
		size: A4 portrait; 
		margin: 1in;

		@top-center {
			content: "Alok Shrestha";
		}

		@bottom-right {
			content: "Page " counter(page);
		}
	}

	pre, label:after{
		display: none;
	}

	a:after {
		content: ": " attr(value);
	}

	a{
		color:inherit;
	    text-decoration:none;
	    pointer-events:none;
	}

	h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

	header:before {
		display: block;
		content: "Thank you for printing our content at www.smashing-winery.com. Please check back soon for new offers on delicious wine from our winery.";
		margin-bottom: 10px;
		border: 1px solid #bbb;
		padding: 3px 5px;
		font-style: italic;
	}

	body {
		font-family: Cambria, serif;
		background: none;
		color: black;
	}

}