/*body {
    background: #000;
    filter: invert(1) hue-rotate(210deg);
}*/
body{
 	margin: auto; /*Center */
	padding: 20px;
	text-align: justify;
	max-width: 800px;
	border: solid 1px;
}

h1, h1+ address{
	text-align: center;
}

address{
	font-style: normal;
	display: inline;
}

address ul li{
	list-style: none;
	display: inline-block;
}

address ul li:first-child{ display: block; }
address ul li:before { content: "| "; }
address ul li:first-child:before, address ul li:nth-child(2):before { content: ""; }

#hide_extra:checked ~ * .whole_content{
	display: none;
}

def:after{
	content: ": ";
}

def{
	font-weight: bold;
}

input:checked + label.noprint:before{
	content: "HIDDEN ";
}


/* Hiding Sections */
section > input[type=checkbox]{
	float: left;
}
section > input[type=checkbox]:checked ~ *{
	display: none;
}
section > input[type=checkbox]:checked ~ h2{
	display: block;
}

.noprint{
	border: dotted;
	color: gray;
	font-size: 0.75em;
}

/* section date{
	display: block;
} */

section date:before{
	content: " | ";
}
section grade{
	float: right;
}

img{
	max-width: 500px;
}

label:hover::after {
	content: "Click to show/hide details";
	font-weight: normal;
	
	position: relative;
	border: 1px #808080 solid ;
	border-radius: 6px;
	background-color: white;
  color: #333;
	padding: 5px 3px;
	right: 1px;
	z-index: 1;
}

input[type="checkbox"]:checked ~.whole_content{
	display: block;
}

label > input[type="checkbox"]:checked, .whole_content {
	display: none;
}