@page {
		size: A4 portrait; 
		margin: 0.75in;

		@top-center {
			content: "Alok Shrestha";
		}

		@bottom-right {
			content: "Page " counter(page);
		}
}

body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Cambria, serif;
	background: none;
	color: black;

	background: #FFF;
	filter: invert(0) hue-rotate(150deg);
}

h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

h1:after {
	display: block;
	content: "This CV was printed from aloks.com.np/CV. Please check the same for updated CV.";
	margin-bottom: 10px;
	border: 1px solid #bbb;
	padding: 3px 5px;
	font-style: italic;

	font-weight: normal;
	font-size: 12px;
}

address{
	font-size: 0.9em;
}

h2:before{
	content:' ';
    display:block;
    border:0.5px dashed #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.noprint, label:after, input[type='checkbox'], img{
	display: none;
}

address a:after {
	content: ": " attr(value);
}

a{
	color:inherit;
	text-decoration:none;
}



ul {
	margin-left: 5px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 0px;
}